html {
    font-size: 22px;
    font-family: 'Roboto Mono', monospace;
    color-scheme: dark;
}

@media screen and (max-width: 52rem) {
    html {
        font-size: 18px;
    }
}

*::selection {
    --at-apply: bg-light text-dark;
}

body {
    --at-apply: bg-dark;
}

#root {
    --at-apply: overflow-hidden;
}
